<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Browse For Pets!</title>
        <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../public/css/reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous">
    </head>

    <body>
       	<div class="jumbotron" id="top-header">
			<h1 id="main-title">JAMMZ Pet Adoption Site</h1>
			<p>Where life-long friendships are formed</p>
		</div>
        <ul>
            <li><a href="/home">Profile</a></li>
            <li><a href="/buyPet" class="active" >Browse Pets for Adoption</a></li>
            <li><a href="/newPet">Enroll a New Pet</a></li>
            <li><a href="/logout">Logout?</a></li>

        </ul>
        <h2>Pets for Adoption</h2>
		<p>All of the following pets are Available for Adoption! Click "Adopt!" to purchase a pet. Click "Wishlist!" to add a pet to your personal wishlist and save for later!</p>
		<hr>

        <div class="pet_display_info">
        {{#each petsArray}}
            <p id="nameOfPet">Name: {{this.petName}}</p>
            <p>ID: {{this._id}}</p>
            <p>Owner: {{this.ownerName}}</p>
            <p>Attributes</p>
            {{#each this.attributes}}
            {{@key}}: {{this}}
            <br>
            {{/each}}
            <p>Cost: {{this.cost}}</p>
            <p>Status: {{this.status}}</p>
            <p>Extra Info: {{this.extraInfo}}</p>
            <form action="/pets/adopted" method="post">
                <input type="text" name="petName" id="petName" value={{this.petName}} style="display:none" readonly />
                <input type="text" name="ownerName" id="ownerName" value={{this.ownerName}} style="display:none" readonly />
                <input type="submit" value="Adopt me!" class=" btn btn-blue btn-primary"/>
            </form>
            <br>
			<form action="/wishlist" method="post">
                <input type="text" name="petName" id="petName" value={{this.petName}} style="display:none" readonly />
                <input type="text" name="ownerName" id="ownerName" value={{this.ownerName}} style="display:none" readonly />
                <input type="submit" value="Wishlist!" class="btn btn-red btn-primary"/>
			</form>
            <br>
			<hr>
            {{/each}}
        </div>
		<footer class="footer">Created with puppy love by JAMMZ | Copyright © 2017 JAAMZ. All Rights Reserved.</footer>
    </body>
</html>