<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{name}}'s Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body>
    <p>You're logged in as {{user}}. <a href="/logout">Logout?</a></p>

    <p>Here is some info about the user: </p>
    <div class="user_specs">
        <p>ID: {{id}}</p>
        <p>Name: {{name}}</p>
        <p>Age: {{age}}</p>
        <h2>Your Pets: </h2>
    </div>    
    {{#each petsArray}}
    <div class="pet_display_info">
        <p>ID: {{this._id}}</p>
        <p>Name: {{this.petName}}</p>
        <p>Attributes</p>
        {{#each this.attributes}}
        {{@key}}: {{this.attributes}}
        <br>
        {{/each}}
        <p>Cost: {{this.cost}}</p>
        <p>Status: {{status}}</p>
        <p>Extra Info: {{extraInfo}}</p>
        <br>
        {{/each}}
    </div>
    
    <h2>Wishlist: {{wishlist}}</h2>

    <p><a href="/buyPet">Browse Pets for Adoption</a></p>
    <p><a href="/newPet">Enroll a New Pet</a></p>
    <p>{{petsArray}}</p>
    
    
</body>