<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{{name}}'s Page</title>
        <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../public/css/reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous">
    </head>

    <body>
		<div class="jumbotron" id="top-header">
			<h1 id="main-title">JAMMZ Pet Adoption Site</h1>
			<p>Where life-long friendships are formed</p>
		</div>
        <ul>
            <li><a href="/home" class="active">Profile</a></li>
            <li><a href="/buyPet">Browse Pets for Adoption</a></li>
            <li><a href="/newPet">Enroll a New Pet</a></li>
            <li><a href="/logout">Logout?</a></li>
        </ul>

        <p>Welcome, {{name}}!</p>
        <h2>Your Profile</h2>

        <h3>My Info </h3>
        <div class="user_specs">
            <p><span>ID: </span>{{id}}</p>
			<p><span>Username: </span>{{user}}</p>
			<p><span>Name: </span>{{name}}</p>
			<p><span>Age: </span>{{age}}</p>

			<input type="button" value="Update User" class="btn btn-primary" onclick="location.href='/updateuser';">
			<!--<input type="submit" value="Update User" class="btn btn-primary">-->

        </div> 
		
		<hr>

        <h3>My Pets </h3>
        <div class="pet_display_info">
            {{#each petsArray}}
            <p><span>ID:</span> {{_id}}</p>
            <p><span>Name:</span> {{petName}}</p>
            <p><span>Attributes</span> <br>
            {{#each this.attributes}}
            {{@key}}: {{this}}
            <br>
            {{/each}}
            </p>
            <p><span>Cost:</span> {{this.cost}}</p>
            <p><span>Status:</span> {{status}}</p>
            <p><span>Extra Info:</span> {{extraInfo}}</p>
            <input type="button" value="Update Pet" class="btn btn-primary" onclick="location.href='/updatepet/{{petName}}';">
            
			
            {{/each}}
        </div>
        <input type="button" value="Enroll a New Pet" class="btn btn-primary" onclick="location.href='/newPet';">
        
		<hr>
		
		<h3>Preferences </h3>
		{{#each preferences}}
		<p>{{this}}</p>
		{{/each}}
		
		<input type="button" value="Add Preferences" class="btn btn-primary" onclick="location.href='/preferences';">
        
		<hr>
		
		<h3>Wishlist </h3>
        {{#each wishlist}}
        <p><span>ID:</span> {{this.[0]._id}}</p>
        <p><span>Name:</span> {{this.[0].petName}}</p>
        <p><span>Owner Name:</span> {{this.[0].ownerName}} </p>
        <p><span>Attributes</span>
            {{#each this.[0].attributes}}
            {{@key}}: {{this}}
            <br>
            {{/each}}
            </p>
        <p><span>Cost:</span> {{this.[0].cost}}</p>
        <p><span>Status:</span> {{this.[0].status   }}</p>
        <p><span>Extra Info:</span> {{this.[0].extraInfo}}</p>
        <hr id="half">
        {{/each}}
		<input type="button" value="Add Pets to Wishlist" class="btn btn-primary" onclick="location.href='/buyPet';"/>
		<footer class="footer">Created with puppy love by JAMMZ | Copyright © 2017 JAAMZ. All Rights Reserved.</footer>

    </body>
</html>